ol#progress--indicator {
  margin: 0;
  padding: 0;
  font-size: 1.25em; 
  
  li {
    list-style: none;
    margin-bottom: 0.5em;

    span.light {
     height: 1em;
     width: 1em;
     background: grey;
     border-radius: 0.5em;
     display: inline-block;
     margin-right: 0.5em;
     position: relative;
     top: 0.125em;
    }
    
    &.current--step {
      span.light {
        background: black;
      }
    }
    &.complete {
      span.light {
        background: green;
      }
    }
    &.incomplete {
      span.light {
        background: orange;
      }
    }
  }
  
}
